body {
  @include font-feature-settings("kern", "liga", "pnum");
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header-font;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0.5em;

  @include media($medium-screen) {
    font-size: 2.6em;
  }
}

h2 {
  font-family: $serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em;

  @include media($medium-screen) {
    font-size: 1.3em;
  }
}

h3 {
  font-family: $serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}

p {
  font-size: 1.05em;
  margin: 0 0 $small-spacing;
}

p.date {
  color: transparentize($base-font-color, 0.6);
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.3em;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $light-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
  width: 3em;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
